<div class="container p-0">
  <div class="col-md-12 text-center border-2 border border-dark p-2">
    <app-header [applicationName]="title"></app-header>
  </div>

  <div class="row g-0">
    <div class="col-md-2 border-2 border border-dark p-2">
      <app-authors-list [titreGauche]="titreGauche"></app-authors-list>
    </div>
    <div class="col-md-10 g-0">
      <div class="col-md-12 border-2 border border-dark p-0 divMain">
        <app-messages-list></app-messages-list>
      </div>
      <div class="col-md-12 border-2 border border-dark p-2">
        <app-add-form [titreBottom]="titreBottom"></app-add-form>
      </div>
    </div>
  </div>
</div>
